      <button class=" mt-5 btn btn-outline-info btn-sm mt-auto creative-link" onclick="goBack()">
            <i class="fas fa-arrow-left"></i> Go Back
        </button>

        <script>
            function goBack() {
                window.history.back();
            }

    
    </script>