<!-- Start Footer -->
<footer class="bg-light border border-black" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-3">
                <h3 class="h3 text-info border-bottom pb-2 border-dark  logo">Globel Networker Market</h3>
                <ul class="list-unstyled text-dark footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        Nabeul , Tunis
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none text-dark" href="tel">+216 55 555 555</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none text-dark" href="">yassineamine@company.com</a>
                    </li>
                </ul>
            </div>

            

            <div class="col-md-4 pt-3">
                <h3 class="h3 text-dark border-bottom pb-2 border-dark">Further Info</h3>
                <ul class="list-unstyled text-dark footer-link-list">
                    <li><a class="text-decoration-none text-dark" href="#">Home</a></li>
                    <li><a class="text-decoration-none text-black" href="#">About Us</a></li>
                
                    <li><a class="text-decoration-none text-dark" href="#">FAQs</a></li>
                    <li><a class="text-decoration-none text-dark" href="#">Contact</a></li>
                </ul>
            </div>

        </div>

        <div class="row text-dark mb-2">
            <div class="col-12 mb-1">
                <div class="w-50 my-1 border-top border-dark"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class=" text-left footer-icons">
                    <li class="list-inline-item border border-dark rounded-circle text-center">
                        <a class="text-dark text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-dark rounded-circle text-center">
                        <a class="text-dark text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-dark rounded-circle text-center">
                        <a class="text-dark text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-dark rounded-circle text-center">
                        <a class="text-dark text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-auto">
                
            </div>
        </div>
    </div>

    <!-- Smaller copyright text -->
    <div class="w-100 bg-black py-2">
        <div class="container">
            <div class="row pt-1">
                <div class="col-12">
                    <p class="text-left text-light small">
                        Copyright &copy; 2024 GNL : Globel Networker Link
                        | Designed by <a rel="sponsored" >Yassine GHARBI </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
