{% extends 'base.html.twig' %}

{% block title %}Products Administration{% endblock %}

{% block body %}
     
    <main class="container mt-3">
        <section class="row">
            <div class="col-12">
                <h1 class="text-info">Editing Product: <i class=" text-danger"> <strong > {{ product.name}} </strong> </i></h1>
                {% include 'admin/products/_form.html.twig' with {button_label: 'Edit'} %}
                    
                   

            </div>
        </section>
     </main>   





{% endblock %}
{% block footer %}
     
{% endblock %}
{% block javascript %}
    
    <script src="{{ asset('/assets/js/image.js') }}" defer></>
{% endblock %}
