{% extends 'base.html.twig' %}

{% block title %}About {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <img src="assets/uploads/yass.jpg" alt="Yassine Gharbi" class="img-fluid mt-5 mb-4" style="max-width: 300px;">
                <h1 class="mt-3 mb-4">Yassine Gharbi</h1>
                <p class="lead">Welcome to our E-Commerce application! Here at our store, we are dedicated to providing you with the best shopping experience possible. Whether you're looking for the latest fashion trends, high-quality electronics, or home essentials, we've got you covered.</p>
                <p>We strive to offer a wide range of products from trusted brands, ensuring that you find exactly what you're looking for. Our user-friendly interface makes browsing and purchasing items a breeze, and our secure checkout process gives you peace of mind when shopping online.</p>
                <p>At our E-Commerce store, customer satisfaction is our top priority. If you have any questions or concerns, our dedicated customer support team is here to assist you every step of the way. We value your feedback and are constantly working to improve our services to better serve you.</p>
                <p>Thank you for choosing our E-Commerce platform for all your shopping needs. Happy shopping!</p>
            </div>
        </div>
    </div>
{% endblock %}
