{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                       <h1 class="text-center">Contact Us</h1>
<p class="text-center">You can contact us via the form below:</p>
<form action="{{ path('admin_contact') }}" method="post">
    <div class="form-group">
        <label for="email" class="text-white">Your email address:</label>
        <input type="email" id="email" name="email" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="message" class="text-white">Your message:</label>
        <textarea id="message" name="message" class="form-control" rows="4" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
