{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block header %}
    
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% include '_partials/_admin.html.twig' %}
            
            <main class="col-9 border border-light bg-white p-5">
                <h1>Administration</h1>
                <h2>Ajouter un utilisateur</h2>
        
                    <div class="mb-3">
                        <label for="username" class="form-label">Nom d'utilisateur</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Adresse email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
           
            </main>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
