   
</head>
<body>

    <p>Hello {{ user.firstname }} {{ user.lastname }},</p>
    <p>We received a request to reset your password. Please click the following link to reset it:</p>
    <p><a href= {{ url|raw  }} >{{ url|raw  }}</a></p>
    <p>If you did not sign up for an account, you can safely ignore this email.</p>
    <p>Sincerely,</p>
</body>
